<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
</head>
<body>
  <!-- naisip ko gawin na lang dropdown eme yung recipes
like
manage recipes (under niya)
create recipes
view, edit, delete -->
  <a href="/admin/users">Users</a>
    <a href="/admin/recipes">Recipes</a>
    <a href="/admin/logout">Logout</a>

    <form action="/admin/recipes/search" method="post">
      <input type="text" name="searchInp" id="searchInp">
      <button type="submit">Search</button>
    </form>
    
</body>

</html>