<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User</title>

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

    <!-- custom css file link  -->
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>
  <header class="header">

    <section class="flex">

      <a href="/" class="logo">ReciPinoy</a>

      <nav class="navbar">
        <a href="/">home</a>
        <a href="/recipes">view recipes</a>
        <a href="/">saved recipes</a>
        <a href="/">meal plan</a>
        <a href="/">grocery lists</a>
      </nav>

      <div class="icons">
        <div id="user-btn" class="fas fa-user"></div>
        <div id="menu-btn" class="fas fa-bars"></div>
      </div>

      <!-- <div class="profile">
        <p class="name"><%#= id %></p>
        <div class="flex">
          wala pang profile.ejs
           <a href="" class="btn">profile</a>
           <a href="/logout" onclick="return confirm('logout from this website?');" class="delete-btn">logout</a>
        </div>
      </div> -->

      <!-- eka -->
      <% if (id != '') { %>
        <div class="profile">
          <p class="name"><%= id %></p>
          <div class="flex">
            <!-- wala pang profile.ejs -->
             <a href="" class="btn">profile</a>
             <a href="/logout" onclick="return confirm('logout from this website?');" class="delete-btn">logout</a>
          </div>
        </div>
      
      <% } else { %>
        <div class="profile">
          <p class="name">please login first!</p>
          <div class="flex">
            <a href="/login" class="btn">login</a>
            <a href="/register" class="btn">register</a>
          </div>
        </div>
      <% } %> 
      <!-- eka end -->

    </section>

  </header>
    
</body>

</html>