<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <title><%= title %></title>

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

    <!-- custom css file link  -->
    <link rel="stylesheet" href="/public/css/admin_style.css">
</head>
<body>
    <!-- message  -->
    <% if (msg != '') { %>
        <div class="message">
            <span> <%= msg %> </span>
            <i class="fas fa-times" onclick="this.parentElement.remove();"></i>
        </div>
    <% } %>

    <!-- admin dashboard section starts  -->
    <%- include('./partials/adminNav'); %>
    <a href="/admin/recipes" class="back-btn">>> Back</a>
    
    <section class="add-recipes">
        <form action="/admin/recipes/create" method="post" onsubmit="getIngs()" enctype="multipart/form-data">
            <h3>add recipes</h3>
            <label for="recNameLbl" class="addRecLabel">Name: </label>
                <input type="text" name="recNameInp" id="recNameInp" required placeholder="type your recipe name here" maxlength="100" class="box">
            <label for="recDescLbl" class="addRecLabel">Description: </label>
                <textarea name="recDescInp" id="recDescInp" cols="30" rows="10" required placeholder="type your recipe description here" maxlength="1000" class="textareabox" ></textarea>
            <label for="recPrcLbl" class="addRecLabel">Process: </label>
                <textarea name="recPrcInp" id="recPrcInp" cols="30" rows="10" required placeholder="type the recipe directions here" maxlength="10000" class="textareabox"></textarea>
            <label for="recPrcLbl" class="addRecLabel">Category: </label>
                <select name="recCateg" id="recCateg" required class="smallbox">
                    <option value="" disabled selected>select category --</option>
                    <option value="Luzon">Luzon</option>
                    <option value="Visayas">Visayas</option>
                    <option value="Mindanao">Mindanao</option>
                    <option value="Popular">Popular</option>
            </select><br>
            <label for="recTimeLbl" class="addRecLabel">Time Process: </label>
                <input type="text" name="recTimeInp" id="recTimeInp" placeholder="total time (hr/min)" maxlength="20" class="timebox"><br>
            <label for="recSrvLbl" class="addRecLabel">Serving: </label>
                <input type="text" name="recSrvInp" id="recSrvInp" placeholder="total portion" maxlength="10" class="servingbox"><br>
            <label for="recSrcLbl" class="addRecLabel">Source: </label>
                <input type="url" name="recSrcInp" id="recSrcInp" required placeholder="source link of recipe" maxlength="500" class="mediumbox"><br>
            <label for="recVidLbl" class="addRecLabel">Video Link: </label>
                <input type="url" name="recVidInp" id="recVidInp" placeholder="youtube link of recipe video" maxlength="500" class="mediumbox"><br>
            <label for="recCalLbl" class="addRecLabel">Calorific Value: </label>
                <input type="text" name="recCalInp" id="recCalInp" placeholder="calorific value" maxlength="10" class="servingbox"><br>
            <label for="recMTime" class="addRecLabel">Meal Time: </label>
                <input type="checkbox" id="recMTimeInp" name="recMTimeInp" value="Breakfast">
                    <label for="mtBreakfast" class="addRecLabel">Breakfast</label>
                <input type="checkbox" id="recMTimeInp" name="recMTimeInp" value="Lunch">
                    <label for="mtLunch" class="addRecLabel">Lunch</label>
                <input type="checkbox" id="recMTimeInp" name="recMTimeInp" value="Meryenda">
                    <label for="mtLunch" class="addRecLabel">Meryenda</label>
                <input type="checkbox" id="recMTimeInp" name="recMTimeInp" value="Dinner">
                    <label for="mtDinner" class="addRecLabel">Dinner</label><br><br>
            <label for="recImageLbl" class="addRecLabel">Image: </label>
                <input type="file" name="recImgInp" required accept="image/jpg, image/jpeg, image/png, image/webp" class="mediumbox"><br><br>
            <label for="recIng" class="addRecLabel">Add Ingredients: </label><br>
            <label for="ingQuantLbl" class="addRecLabel">Quantity: </label>
            <label for="ingUnitLbl" class="addRecLabel">Unit: </label>
            <label for="ingNameLbl" class="addRecLabel">Ingredient: </label>
            <label for="ingInsLbl" class="addRecLabel">Instruction: </label>
            <div id="ingInps" class="add-ingredients">
                <h2>put - if n/a</h2>
                <input type="hidden" value="1" id="ingNum" name="ingNum" required>
                <input type="text" name="ingQuantInp[]" id="ingQuantInp1" placeholder="Quantity" maxlength="10" class="s_ingredientbox">
                <input type="text" name="ingUnitInp[]" id="ingUnitInp1" placeholder="Unit" maxlength="10" class="s_ingredientbox">
                <input type="text" name="recIng[]" id="recIng1" required placeholder="Ingredient" maxlength="100" class="ingredientbox">
            <!-- <select name="recIng[]" id="recIng1">
                <%# ing.forEach(ingName => { %>
                    <option value="<%#= ingName.ing_id %>"><%#= ingName.ing_name %></option>
                <%# }) %> 
                
            </select> -->
                <input type="text" name="ingInsInp[]" id="ingInsInp1" placeholder="Instruction" maxlength="500" class="ingredientbox">
            <input type="hidden" name="qval" value="" id="qval" placeholder="Quantity" maxlength="10" class="s_ingredientbox">
            <input type="hidden" name="idval" value="" id="idval" placeholder="Unit" maxlength="10" class="s_ingredientbox">
            <input type="hidden" name="uval" value="" id="uval" required placeholder="Ingredient" maxlength="100" class="ingredientbox">
            <input type="hidden" name="insval" value="" id="insval" placeholder="Instruction" maxlength="500" class="ingredientbox">
        </div>
        
        <button id="addIngredientsBtn" type="button" class="createbtn">Add Another Ingredient</button> <br><br>
        <button type="submit" class="btn">Add Recipe</button>
    </form>

    <script type="text/javascript">
        $('#addIngredientsBtn').on('click', add);
        function getIngs() {
            let qv = [];
            let iv = [];
            let uv = [];
            let insv = [];
            jQuery('input[name="ingQuantInp[]"]').each(function() {
         
                qv.push(this.value);
            });
            jQuery('input[name="recIng[]"]').each(function() {
                let ingstr = this.value.toLowerCase();
                iv.push(ingstr);
            });
            jQuery('input[name="ingUnitInp[]"]').each(function() {
     
                uv.push(this.value);
            });
            jQuery('input[name="ingInsInp[]"]').each(function() {
    
                insv.push(this.value);
            });
            

            $('#qval').val(JSON.stringify(qv));
            $('#idval').val(JSON.stringify(iv));
            $('#uval').val(JSON.stringify(uv));
            $('#insval').val(JSON.stringify(insv));

        }
        function add() {
            console.log('add button clicked....');
            let newIngNum = parseInt($('#ingNum').val()) + 1;

            let quantInp = '<br><input type="text" name="ingQuantInp[]" id="ingQuantInp'+ newIngNum +' placeholder="Quantity" maxlength="10" class="s_ingredientbox">';
            let ingInp = '<input type="text" name="recIng[]" id="recIng'+ newIngNum +' required placeholder="Ingredient" maxlength="100" class="ingredientbox">';
            let unitInp = '<input type="text" name="ingUnitInp[]" id="ingUnitInp'+ newIngNum +' placeholder="Unit" maxlength="10" class="s_ingredientbox">';
            let insInp = '<input type="text" name="ingInsInp[]" id="ingInsInp'+ newIngNum+' placeholder="Instruction" maxlength="500" class="ingredientbox">';

            $('#ingInps').append(quantInp);
            $('#ingInps').append(unitInp);
            $('#ingInps').append(ingInp);
            $('#ingInps').append(insInp);

            $('#ingNum').val(newIngNum);    
        }
    </script>
</body>
</html>