<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <%- include('./partials/adminNav'); %>
    <h1>ADMIN HOME PAGE</h1><br><br>
    <h2>Hi admin, <%= id %>!!!</h2>
    <!-- <a href="/admin/recipes">Manage Recipes</a>
    <a href="/admin/logout">Logout</a> -->
</body>
</html>