<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Grocery List</title>
</head>

<body>
    <!-- header -->
    <%- include('./partials/userNav'); %>

    <!-- content -->
    <div class="grocery-cont">
        <div class="grocery-header">
            <h1 class="gl-name">Grocery List</h1>
            <button type="button" class="del-all" onclick="deleteAll()"></button>
            <form action="/grocery-list/add" method="post" id="gForm" class="gForm">
                <label for="gItem"></label>
                <input type="text" name="newItem" id="newItem" class="newItem" placeholder="+ Add Item">
                <input type="hidden" name="itemVal" value="" id="itemVal">
                <button type="button" id="gFormBtn" class="gFormBtn">Add</button><br><br>
            </form>
        </div>

        <hr>

        <div class="glist-cont">
            <% if (list.length===0 || list[0]==='' ) { %>
                    <h3 class="gl-empty">Your grocery list is empty!</h3> 
            <% } else { %>
                <div id="list">
                    <% for( let index=0; index < list.length; index++ ) { %>
                        <% let l=list[index]; %>
                        <% if (l !='' ) { %>
                            <div class="gl-item">
                                <span class="delete"></span>
                                    <input type="text" class="gl-txt" name="item[]" value="<%= l %>" readonly>
                                <div class="itm-txt"></div>
                            </div>
                        <% } %>
                    <% } %>
                </div>
            <% } %>
        </div>
    </div>



        <!-- script part -->
        <script type="text/javascript">
            $('#gFormBtn').on('click', addItem);
            let gArr = [];
            let objArr = [];

            $(document).ready(function () {
                // let divCount = $('.item').length;
                let itemDiv = document.querySelectorAll('.item');
                let count = 0;
                jQuery('input[name="item[]"]').each(function () {
                    let val = this.value;
                    console.log(val);
                    if (val) {
                        let str = checkStorage();
                        console.log('str: ' + str);
                        if (str.includes(val)) {
                            console.log(val);
                        }
                        else {
                            let d = Date.now();
                            itemDiv[count].setAttribute("data-id", d);
                            addIngToListObj(val, d);
                            count++;

                        }

                    }
                })
            });

            function checkStorage() {
                let values = [],
                    keys = Object.keys(localStorage),
                    i = keys.length;

                while (i--) {
                    values.push(localStorage.getItem(keys[i]));
                }

                return values;
            }

            function addItem() {
                gArr = [];
                jQuery('input[name="item[]"]').each(function () {
                    let val = this.value;
                    if (val) {
                        gArr.push(val);
                    }
                })

                let newItem = document.querySelector("#newItem").value;
                if (newItem) {
                    gArr.push(newItem);
                }

                $('#itemVal').val(JSON.stringify(gArr));
                document.getElementById("gForm").submit();

            }

            function addToLocalStorage(arr) {
                window.localStorage.setItem("lists", JSON.stringify(arr));
            }

            function addIngToListObj(ing, d) {
                const item = {
                    id: d,
                    title: ing,
                };
                objArr.push(item);
                addToLocalStorage(objArr);
            }

            function deleteAll() {
                $("#list").html('<h3>Your grocery list is empty!</h3>');
                window.localStorage.removeItem("lists")

                $('#itemVal').val(JSON.stringify(''));
                document.getElementById("gForm").submit();
            }

            let div = document.querySelector('#list');
            div.onclick = ((e) => {
                if (e.target.classList.contains("delete")) {
                    e.target.parentElement.remove();
                    deleteFromLocalStorage(e.target.parentElement.getAttribute("data-id"));
                }
            })

            function deleteFromLocalStorage(id) {
                gArr = [];

                objArr = objArr.filter((list) => list.id != id);
                addToLocalStorage(objArr);

                jQuery('input[name="item[]"]').each(function () {
                    let val = this.value;
                    if (val) {
                        gArr.push(val);
                    }
                })

                $('#itemVal').val(JSON.stringify(gArr));
                document.getElementById("gForm").submit();
            }
        </script>

        <!-- custom js file link  -->
        <script src="/public/js/script.js"></script>
</body>

</html>