<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

    <!-- custom css file link  -->
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!-- message -->
    <% if (msg != '') { %>
        <div class="message">
            <span> <%= msg %> </span>
            <i class="fas fa-times" onclick="this.parentElement.remove();"></i>
        </div>
    <% } %>   

    <!-- user header -->
    <%- include('./partials/guestNav'); %>

    <!-- login -->
    <section class="form-container">

        <form action="/login" method="post">
           <h3>login now</h3>
           <input type="email" name="loginEmailInp" id="loginEmailInp" required placeholder="enter your email" class="box" maxlength="50" oninput="this.value = this.value.replace(/\s/g, '')">
           <input type="password" name="loginPasswordInp" id="loginPasswordInp" required placeholder="enter your password" class="box" maxlength="50" oninput="this.value = this.value.replace(/\s/g, '')">
           <input type="submit" value="login now" name="submit" class="btn">
           <p><a href="/forgot-password">forgot your password?</a></p>
           <p>don't have an account? <a href="/register">register here.</a></p>
        </form>
    
    </section>

<!-- custom js file link  -->
<script src="public/js/script.js"></script>

</body>
</html>