<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <link rel="icon" href="/images/logo/logo-recipinoy.png" type="image/icon type">

    <!-- para sa input ng ing -->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <title><%=title  %> </title>
</head>
<body>
    <!-- user header -->
    <%#- include('./partials/guestNav'); %>
    <%- include('./partials/userNav'); %>
    
    <a class="back-btn" onclick="history.back()"><span class="rec-back">Home</span></a>
    <br><br>
    <h1>Recipe Recommender using ingredients</h1>
    <br><br>
    <% if (msg != '') { %>
        <h3><%= msg %> </h3>
    <% } %>
    <br><br>
    <form action="/recommend" method="post" onsubmit="getAllIngs()">
        <div id="ingInps">
            <h3>Enter your ingredients onhand: </h3> 
            <h4 id="ingCheck"></h4>
            <input type="hidden" name="ingNum" id="ingNum" value="0">
            <input type="text" name="ings[]" id="ing1" class ="ingsInp">
            <ul id="ingCont"></ul>
        </div>
        <input type="hidden" name="ingsVal" value="" id="ingsVal"> 
        <br><button type="button" id="addIngredientsBtn">Add another ingredient</button><br><br><br>

        <div id="exIngs">
            <input type="hidden" name="exIngNum" id="exIngNum" value="0">
            <h3 id="exTitle">Excluded Ingredients: </h3>
            <input type="text" name="exIng[]" class ="ingsInp" id="exIng">
            <ul id="exIngCont"></ul>
        </div>
        <input type="hidden" name="exIngsVal" value="" id="exIngsVal">
        <br><button type="button" id="exIngredientsBtn">Exclude ingredients</button>
        <br><br>
        <button type="submit" disabled id="getRecommBtn">Get Recommendation!</button>
    </form>

    <script type="text/javascript">
        $('#addIngredientsBtn').on('click', add);
        $('#exIngredientsBtn').on('click', exclude);
        let iv = [];
        let xv = [];

        $(document).ready(function() { //https://github.com/ashwanibakshi/autocompletesearch
        $(".ingsInp").autocomplete({ 
           source:function(req,res){
               $.ajax({
                url:'/recommend/search',
                method:'post',
                dataType:'json',
                data:{'ing':req.term},
                success:function(data){ 
                    let ingRes = new Array();
                        $.each(data.data,(index,values)=>{
                            ingRes.push({'value':values.ing_name});
                     });
                     res(ingRes)
                 },
                 error:function(){
                     alert('server error occured')
                 }
               });
           }
       });

       $('#addIngredientsBtn').attr('disabled',true);
       $('#exIngredientsBtn').attr('disabled',true);

        $('#ing1').keyup(function(){
            if($(this).val().length !=0)
                $('#addIngredientsBtn').attr('disabled', false);            
            else
                $('#addIngredientsBtn').attr('disabled',true);
        })

        $('#exIng').keyup(function(){
            if($(this).val().length !=0)
                $('#exIngredientsBtn').attr('disabled', false);            
            else
                $('#exIngredientsBtn').attr('disabled',true);
        })

});

        function getAllIngs() {
            $('#ingCont').each(function(){
                $(this).find('li').each(function(){
                    let current = $(this);
                    if(current.children().size() > 0){
                        let ingStr = $(this).text();
                        let newStr = ingStr.replace(/x/g, '');
                        newStr = newStr.trim();
                        iv.push(newStr.toLowerCase());
                    }
                });
            });

            $('#exIngCont').each(function(){
                $(this).find('li').each(function(){
                    let current = $(this);
                    if(current.children().size() > 0){
                        let ingStr = $(this).text();
                        let newStr = ingStr.replace(/x/g, '');
                        newStr = newStr.trim();
                        xv.push(newStr.toLowerCase());
                    }
                });
            });

            $('#exIngsVal').val(JSON.stringify(xv));
            $('#ingsVal').val(JSON.stringify(iv));
        }
        
        function exclude() {
            let newIngNum = parseInt($('#exIngNum').val()) + 1;
            let ingstr = $("#exIng").val();
            let p = '<li onclick="removeIng(this)"><pre>'+ ingstr +'&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;x</pre></li>';
            $('#exIngCont').append(p);
            $("#exIng").val('');
            $('#exIngNum').val(newIngNum);  
            $('#exIngredientsBtn').attr('disabled',true);
        }

        function add() {
            let newIngNum = parseInt($('#ingNum').val()) + 1;
            $('#ingNum').val(newIngNum); 
            let str = $("#ing1").val();
            let p = '<li onclick="removeIng(this)"><pre>'+ str +'&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;x</pre></li>';
            $('#ingCont').append(p);
            $("#ing1").val('');
            let ingCheck = document.getElementById('ingCheck');
            let ingNum = parseInt($('#ingNum').val());
            if (ingNum > 0 && ingNum < 4) {
                ingCheck.innerHTML = "Ingredients should be at least 4!";
            } else {
                getRecommBtn.disabled = false;
                ingCheck.innerHTML = '';
            }  
            $('#addIngredientsBtn').attr('disabled',true); 
        }

        function removeIng(ing) {
            ing.parentNode.removeChild(ing);
        }
    </script>

    <div class="loader">
        <img src="/images/loader.gif" alt="">
    </div>

<!-- custom js file link  -->
<script src="/public/js/script.js"></script>
</body>
</html>