<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

    <!-- custom css file link  -->
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!-- message -->
    <% if (msg != '') { %>
        <div class="message">
            <span> <%= msg %> </span>
            <i class="fas fa-times" onclick="this.parentElement.remove();"></i>
        </div>
    <% } %>   

    <!-- user header -->
    <%#- include('./partials/guestNav'); %>
    <%- include('./partials/userNav'); %>
    
    <!-- register -->
    <section class="form-container">
        <form action="/register" method="POST">
           <h3>register now</h3>
           <input type="text" name="regNameInp" id="regNameInp" required placeholder="enter your name" class="box" maxlength="50">
           <input type="email" name="regEmailInp" id="regEmailInp" required placeholder="enter your email" class="box" maxlength="50" oninput="this.value = this.value.replace(/\s/g, '')">
           <input type="password" name="regPasswordInp" id="regPasswordInp" required placeholder="enter your password" class="box" maxlength="50" oninput="this.value = this.value.replace(/\s/g, '')">
           <!-- dinagdag ni eka pasensya ka na :D -->
            <span id="charCheck"></span>
           <!-- end -->
           <input type="password" name="regRePasswordInp" id="regRePasswordInp" required placeholder="confirm your password" class="box" maxlength="50" oninput="this.value = this.value.replace(/\s/g, '')">
           <input type="submit" value="register now" name="submit" class="btn">
           <p>already have an account? <a href="/login">login here.</a></p>
        </form>
    </section>
    
<!-- custom js file link  -->
<script src="public/js/script.js"></script>

<!-- dinagdag ni eka pasensya ka na :D -->
<script>
    function checkLength(value){
        let minLength = 8;
        if(value.length < minLength){
            return true;
        }
        else{
            return false;
        } 
    
    }
    let charCheck = document.getElementById('charCheck');
    document.getElementById('regPasswordInp').onkeyup = function(){
        if(checkLength(this.value))
        {
            charCheck.innerHTML = "Passwords should be at least 8 characters!";
        }
        else {
            charCheck.innerHTML = "";
        }
    }
</script>
</body>
</html>