<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h1>Reset Password Page</h1>
    <form action="/reset-password" method="post">
        <input type="hidden" name="tokenInp" value="<%= token %>">
        <label for="newPwdLabel">Enter your new password: </label>
        <input type="password" name="newPwdInp" id="newPwdInp"><br><br>
        <label for="newPwdLabelConf">Enter your new password: </label>
        <input type="password" name="newPwdInpConf" id="newPwdInpConf"><br><br>
        <button type="submit">Confirm New Password</button>
    </form>
</body>
</html>