<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="icon" href="/images/logo/logo-recipinoy.png" type="image/icon type">

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

    <!-- custom css file link  -->
    <link rel="stylesheet" href="/public/css/style.css">    
</head>
<body>
    <!-- message -->
    <% if (msg != '') { %>
        <div class="message">
            <span> <%= msg %> </span>
            <i class="fas fa-times" onclick="this.parentElement.remove();"></i>
        </div>
    <% } %>
    
    <!-- blank header -->
    <%- include('./partials/logoOnlyNav'); %>    

    <!-- reset password -->
    <section class="form-container">
        <form action="/reset-password" method="POST">
            <h3>reset password form</h3>
            <input type="hidden" name="tokenInp" value="<%= token %>">
            <input type="password" name="newPwdInp" id="newPwdInp" placeholder="enter your new password" class="box" maxlength="50" oninput="this.value = this.value.replace(/\s/g, '')">
            <input type="password" name="newPwdInpConf" id="newPwdInpConf" placeholder="re-enter your new password" class="box" maxlength="50" oninput="this.value = this.value.replace(/\s/g, '')">
            <input type="submit" value="confirm new password" name="submit" class="btn">
        </form>
    </section>

    <div class="loader">
        <img src="/images/loader.gif" alt="">
    </div>


<!-- custom js file link  -->
<script src="/public/js/script.js"></script>

</body>
</html>