<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/logo/logo-recipinoy.png" type="image/icon type">

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

    <!-- custom css file link  -->
    <link rel="stylesheet" href="public/css/style.css">

    <title>Profile</title>
</head>
<body>
    <!-- message -->
    <% if (msg != '') { %>
        <div class="message">
            <span> <%= msg %> </span>
            <i class="fas fa-times" onclick="this.parentElement.remove();"></i>
        </div>
    <% } %>   

    <!-- user header -->
    <%#- include('./partials/guestNav'); %>
    <%- include('./partials/userNav'); %>

<div class="user-details">

    <div class="user">
    <% user.forEach(u => { %>
        <form action="/profile" method="post" class="user-prof">
            <img src="images/user-icon.png" alt="">
            <p><i class="fas fa-user"></i> <span>Display Name: <input type="text" class="userText" name="userName" id="userName" value="<%= u.user_name %>" required></span></p>    
            <p><i class="fas fa-envelope"></i> <span>Email: <%= u.user_email %> </span></p>   
            <br><br><br>
            <p><i class="fas fa-hamburger"></i> <span>Dietary Restrictions: </span></p>
            <% if (u.user_restrict){ %> 
                <% let rStr = u.user_restrict; %> 
                <% if (rStr.includes('lactose intolerance')) { %>
                    <input type="checkbox" name="dietRInp" id="dietRInp" value="Lactose intolerance" checked>
                    <label for="dietRLacInt">Lactose intolerance</label>
                <% } else { %>
                    <input type="checkbox" name="dietRInp" id="dietRInp" value="Lactose intolerance">
                    <label for="dietRLacInt">Lactose intolerance</label>
                <% } %> 
                <% if (rStr.includes('gluten intolerance')) { %>
                    <input type="checkbox" name="dietRInp" id="dietRInp" value="Gluten intolerance" checked>
                    <label for="dietRGutInt">Gluten intolerance</label>
                <% } else { %>
                    <input type="checkbox" name="dietRInp" id="dietRInp" value="Gluten intolerance">
                    <label for="dietRGutInt">Gluten intolerance</label>
                <% } %>
                <% if (rStr.includes('vegetarianism')) { %>
                    <input type="checkbox" name="dietRInp" id="dietRInp" value="Vegetarianism" checked>
                    <label for="dietRVegetnism">Vegetarianism</label>
                <% } else { %>
                    <input type="checkbox" name="dietRInp" id="dietRInp" value="Vegetarianism">
                    <label for="dietRVegetnism">Vegetarianism</label>
                <% } %>
                <% if (rStr.includes('veganism')) { %>
                    <input type="checkbox" name="dietRInp" id="dietRInp" value="Veganism" checked>
                    <label for="dietRVeganism">Veganism</label>
                <% } else { %>
                    <input type="checkbox" name="dietRInp" id="dietRInp" value="Veganism">
                    <label for="dietRVeganism">Veganism</label>
                <% } %>
                <% if (rStr.includes('kosher')) { %>
                    <input type="checkbox" name="dietRInp" id="dietRInp" value="Kosher" checked>
                    <label for="dietRKosher">Kosher</label>
                <% } else { %>
                    <input type="checkbox" name="dietRInp" id="dietRInp" value="Kosher">
                    <label for="dietRKosher">Kosher</label>
                <% } %>
                <% if (rStr.includes('keto')) { %>
                    <input type="checkbox" name="dietRInp" id="dietRInp" value="Keto" checked>
                    <label for="dietRKeto">Keto</label>
                <% } else { %>
                    <input type="checkbox" name="dietRInp" id="dietRInp" value="Keto">
                    <label for="dietRKeto">Keto</label>
                <% } %>
                <% if (rStr.includes('diabetes')) { %>
                    <input type="checkbox" name="dietRInp" id="dietRInp" value="Diabetes" checked>
                    <label for="dietRDiab">Diabetes</label>
                <% } else { %>
                    <input type="checkbox" name="dietRInp" id="dietRInp" value="Diabetes">
                    <label for="dietRDiab">Diabetes</label>
                <% } %>
                <% if (rStr.includes('dairy-free')) { %>
                    <input type="checkbox" name="dietRInp" id="dietRInp" value="Dairy-free" checked>
                    <label for="dietRDairy">Dairy-free</label>
                <% } else { %>
                    <input type="checkbox" name="dietRInp" id="dietRInp" value="Dairy-free">
                    <label for="dietRDairy">Dairy-free</label>
                <% } %>
                <% if (rStr.includes('low carb')) { %>
                    <input type="checkbox" name="dietRInp" id="dietRInp" value="Low carb" checked>
                    <label for="dietRLowCarb">Low carb</label>
                <% } else { %>
                    <input type="checkbox" name="dietRInp" id="dietRInp" value="Low carb">
                    <label for="dietRLowCarb">Low carb</label>
                <% } %>

            <% } else { %>
                <input type="checkbox" name="dietRInp" id="dietRInp" value="Lactose intolerance">
                <label for="dietRLacInt">Lactose intolerance</label>
                <input type="checkbox" name="dietRInp" id="dietRInp" value="Gluten intolerance">
                <label for="dietRGutInt">Gluten intolerance</label>
                <input type="checkbox" name="dietRInp" id="dietRInp" value="Vegetarianism">
                <label for="dietRVegetnism">Vegetarianism</label>
                <input type="checkbox" name="dietRInp" id="dietRInp" value="Veganism">
                <label for="dietRVeganism">Veganism</label>
                <input type="checkbox" name="dietRInp" id="dietRInp" value="Kosher">
                <label for="dietRKosher">Kosher</label>
                <input type="checkbox" name="dietRInp" id="dietRInp" value="Keto">
                <label for="dietRKeto">Keto</label>
                <input type="checkbox" name="dietRInp" id="dietRInp" value="Diabetes">
                <label for="dietRDiab">Diabetes</label>
                <input type="checkbox" name="dietRInp" id="dietRInp" value="Dairy-free">
                <label for="dietRDairy">Dairy-free</label>
                <input type="checkbox" name="dietRInp" id="dietRInp" value="Low carb">
                <label for="dietRLowCarb">Low carb</label>
            <% } %> 
            <br><br><br>
            <p><i class="fas fa-cheese"></i> <span>Food Allergies: </span></p>
            <% if (u.user_allergy) { %>
                <% let aStr = u.user_allergy; %> 
                <% if (aStr.includes("cow's milk")) { %>
                    <input type="checkbox" name="faInp" id="faInp" value="cow&rsquo;s milk" checked>
                    <label for="faCow">Cow&rsquo;s milk</label>
                <% } else { %>
                    <input type="checkbox" name="faInp" id="faInp" value="cow&rsquo;s milk">
                    <label for="faCow">Cow&rsquo;s milk</label>
                <% } %>
                <% if (aStr.includes("eggs")) { %>
                    <input type="checkbox" name="faInp" id="faInp" value="eggs" checked>
                    <label for="faEggs">Eggs</label>
                <% } else { %>
                    <input type="checkbox" name="faInp" id="faInp" value="eggs">
                    <label for="faEggs">Eggs</label>
                <% } %>
                <% if (aStr.includes("tree nuts")) { %>
                    <input type="checkbox" name="faInp" id="faInp" value="tree nuts" checked>
                    <label for="faTNuts">Tree nuts</label>
                <% } else { %>
                    <input type="checkbox" name="faInp" id="faInp" value="tree nuts">
                    <label for="faTNuts">Tree nuts</label>
                <% } %>
                <% if (aStr.includes("peanuts")) { %>
                    <input type="checkbox" name="faInp" id="faInp" value="peanuts" checked>
                    <label for="faTPnuts">Peanuts</label>
                <% } else { %>
                    <input type="checkbox" name="faInp" id="faInp" value="peanuts">
                    <label for="faTPnuts">Peanuts</label>
                <% } %>
                <% if (aStr.includes("shellfish")) { %>
                    <input type="checkbox" name="faInp" id="faInp" value="shellfish" checked>
                    <label for="faShllfish">Shellfish</label>
                <% } else { %>
                    <input type="checkbox" name="faInp" id="faInp" value="shellfish">
                    <label for="faShllfish">Shellfish</label>
                <% } %>
                <% if (aStr.includes("wheat")) { %>
                    <input type="checkbox" name="faInp" id="faInp" value="wheat" checked>
                    <label for="faWheat">Wheat</label>
                <% } else { %>
                    <input type="checkbox" name="faInp" id="faInp" value="wheat">
                    <label for="faWheat">Wheat</label>
                <% } %>
                <% if (aStr.includes("soy")) { %>
                    <input type="checkbox" name="faInp" id="faInp" value="soy" checked>
                    <label for="faSoy">Soy</label>
                <% } else { %>
                    <input type="checkbox" name="faInp" id="faInp" value="soy">
                    <label for="faSoy">Soy</label>
                <% } %>
                <% if (aStr.includes("Fish")) { %>
                    <input type="checkbox" name="faInp" id="faInp" value="Fish" checked>
                    <label for="faFish">Fish</label>
                <% } else { %>
                    <input type="checkbox" name="faInp" id="faInp" value="Fish">
                    <label for="faFish">Fish</label>
                <% } %>
            <% } else { %>
                <input type="checkbox" name="faInp" id="faInp" value="cow&rsquo;s milk">
                <label for="faCow">Cow&rsquo;s milk</label>
                <input type="checkbox" name="faInp" id="faInp" value="eggs">
                <label for="faEggs">Eggs</label>
                <input type="checkbox" name="faInp" id="faInp" value="tree nuts">
                <label for="faTNuts">Tree nuts</label>
                <input type="checkbox" name="faInp" id="faInp" value="peanuts">
                <label for="faTPnuts">Peanuts</label>
                <input type="checkbox" name="faInp" id="faInp" value="shellfish">
                <label for="faShllfish">Shellfish</label>
                <input type="checkbox" name="faInp" id="faInp" value="wheat">
                <label for="faWheat">Wheat</label>
                <input type="checkbox" name="faInp" id="faInp" value="soy">
                <label for="faSoy">Soy</label>
                <input type="checkbox" name="faInp" id="faInp" value="Fish">
                <label for="faFish">Fish</label>
            <% } %>

        <br><br><button type="submit" class="btn">save changes</button>
        </form>
        
    <% }) %>

    <button
      class="btn"  
      id="notify-me"
      onclick="notifyMe()"> Notify Me
    </button>
</div>

</div>


<script>
     /*// Bind function to onclick event for checkbox
document.getElementById('pushNotif').onclick = function() {
    // access properties using this keyword
    if ( this.checked ) {
        // Returns true if checked
        //alert( this.value );
        // (A) OBTAIN USER PERMISSION
        // (A1) ASK FOR PERMISSION
        if (Notification.permission === "default") {
            Notification.requestPermission().then((perm) => {
                if (Notification.permission === "granted") {
                regWorker().catch((err) => { console.error(err); } );
                }
                else { alert("Please allow notifications."); }
            });
        }
    } else {
        // Returns false if not checked
    }
};*/
    /*addEventListener('load', async () =>{
        let sw = await navigator.serviceWorker.register('./controllers/sw.js')
        console.log(sw)
    })

    async function notifyMe() {
        let sw = await navigator.serviceWorker.ready;
        let push = await sw.pushManager.notifyMe({
            userVisibleOnly: true,
            applicationServerKey: 'BAjsC077dFVN4--_-Tp87Vh-WJ8i7xjr1qpx3ZnmfB8uMgLU9nFjjwmVsUeBBDg5S-GWKuCwQQGydn3r5yJRC9k'
        })
        console.log(JSON.stringtify(push))
    }*/
let button = document.querySelector('button');
button.addEventListener('click', () =>{
    if(window.Notification) return;

    Notification
    .requestPermission()
    .then(console.log('notification on'))
});
</script>

    <div class="loader">
        <img src="/images/loader.gif" alt="">
    </div>

<!-- custom js file link  -->
<script src="/public/js/script.js"></script>
</body>
</html>